*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.header{
	width: 100%;
	padding: 15px 0px;
	background: #eee;

}
.inner-header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.logo img{
	width: 60%;

}
.inner-header .navbar{
display: flex;

}
.inner-header .navbar li{
	display: inline-block;
	list-style: none;
}
.inner-header .navbar li a{
	display: block;
	margin: 30px 10px 0px;
	font-size: 14px;
	font-weight: 600;
	color: #1e266d;
	text-transform: capitalize;
	transition: 1s;
}
.inner-header .navbar li a:hover{
	color: #00AEEF;

}
.button-group{
	display: flex;
}
.button-group .btn-primary{
	padding: 10px 35px;
	background: #1e266d;
	display: inline-block;
	margin: 20px 0px 20px 10px;
	border: 1px solid #1e266d;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	transition: 1s;

}
.button-group .btn-primary:hover{
	background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;

}
.banner{
	width: 100%;
	padding: 80px 0px;

}
.banner .inner-banner{
	display: flex;
	align-items: center;

}
.inner-banner .banner-text{
	flex-basis: 50%;



}
.inner-banner .banner-text h1{
	font-size: 42px;
	line-height: 1.2em;
	font-weight: 700;
	color: #1e266d;
	margin: 0px 0px 20px;


}
.inner-banner .banner-text h4{
	font-size: 22px;
	line-height: 1.2em;
	font-weight: 300;
	color: #1e266d;
	margin: 0px 0px 10px;


}
.inner-banner .banner-text .btn-primary{
	padding: 10px 35px;
	background: #1e266d;
	display: inline-block;
	margin: 20px 0px 20px 10px;
	border: 1px solid #1e266d;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	transition: 1s;
	border-radius: 3px;
	text-transform: capitalize;
}
.inner-banner .banner-text .btn-primary:hover{
	background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;

}
.inner-banner .banner-img {
	flex-basis: 50%;
}
.inner-banner .banner-img .img-fluid{
	width: 100%;

}
.feature{
	width: 100%;
	padding: 80px 0px;
}
.inner-feature{
	display: flex ;

	
}
.feature-box{
	display: flex;
	flex-basis: 33%;
	margin: 0px 10px 0px;
	padding: 20px 30px;
	border-radius: 5px;
}
.feature-box .icon{
	flex-basis: 15%;

}
.feature-box .icon .fa{
	font-size: 35px;
	color: #fff;
}
.feature-box .content{
	flex-basis: 85%;
}
.feature-box .content h4{
	font-size: 22px;
	line-height: 1.2em;
	font-weight: 600;
	color: #fff;
	margin: 0px 0px 10px ;

}
.feature-box .content p{
	font-size: 14px;
	line-height: 1.7em;
	font-weight: 400;
	color: #fff;
	margin: 0px 0px 10px ;
}
.bg-1{
	background: #f9799a;

}
.bg-2{
	background: #61c4d8;
}
.bg-3{
	background: #1e266d ;
	
}
.footer{
	width: 100%;
	padding: 80px 0px;
}
.inner-footer{
	display: flex;
}
.w-1{
	flex-basis: 20%;

}
.w-2{
flex-basis: 30%;
}
.w-3{
flex-basis: 30%;
}
.w-4{
flex-basis: 20%;
}

.widget{


}
.widget h4{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2em;
	margin: 0px 0px 10px;
	color: #1e266d;
}
.widget ul{

}
.widget ul li{
	list-style: none;
}
.footer-copy {
    width: 100%;
    float: left;
    padding: 20px 0px;
    background: #0C66FF;
    text-align: center;
}

