*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*global css for title/heading*/


.title{
	width: 100%;
	padding: 0px 0px 20px;
}
.title h1{
	font-size: 52px;
	font-weight: 600;
	text-transform: uppercase;
}
.title img{
	margin: 0px 0px 5px;
}

/****************************/
.header{
	width: 100%;
	padding: 10px 0px;
	background: #fff;
}
.header .navbar-nav .nav-item .nav-link{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #28377e;
	letter-spacing: 1px;
	margin: 0px 0px 0px 25px;
	transition: 1s;
}
.header .navbar-nav .nav-item .nav-link:hover{
	color: #f2622c;
}
.header .navbar-nav .nav-item .nav-link:focus{
	color: #f2622c;
}
.slider{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/slider.png") center top no-repeat;
	background-size: cover;
	text-align: center;
}
.inner-slider{
	width: 100%;
	padding: 90px 0px 0px;
}
.inner-slider h1{
	font-size: 60px;
	line-height: 1.3em;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.arraw{
	width: 100%;
	padding: 125px 0px 0px;
}
.arraw .fa{
	font-size: 32px;
	color: #fff;
}
.who-we{
	width: 100%;
	padding: 80px 0px;
}
.who-we .title {
	padding: 40px 0px 0px;
}	
.who-we .title h1{
	color: #28377e;
}
.who-we p{
	font-size: 14px;
	line-height: 1.7em;
	color: #bab9ba;
}
.who-we-img{
	width: 100%;
	text-align: center;
}
.what-we-do{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/wb.png") center top no-repeat;
	background-size: cover;
}
.what-we-do .title{
	text-align: center;
	padding: 0px 0px 60px;
}
.what-we-do .title h1{
	color: #28377e;
}
.what-we-do .card{
	border-radius: 0px;
	text-align: center;
}
.what-we-do .card .card-img-overlay{

}
.what-we-do .card .card-title{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.what-we-do .card .long-arraw{
	position: absolute;
	width: 100%;
	bottom: 15%;
	left: 0;



}